
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.button-footer{
    margin-top: 50px;
    text-align:center;
}
.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}
hr{
    color: #D1D1D1;
}
header{
    padding-top: 51px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between; 
    width: 71%;
    max-width: 1240px;
    margin: 0 auto;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banar{
    display: flex;
    justify-content: space-between;
    margin: 46px 38px 0 230px;
    align-items: center;
    width: 71%;
    max-width: 1332px;
}
#banar .banar-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
#banar .banar-content{
    max-width: 585px;
}
#banar .banar-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banar .banar-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banar .banar-content .button{
    display: flex;
    gap: 30px;
}
.banar-content .btn-background{
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
#banar .banar-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    margin-top: 130px;
    
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    /* border: 1px solid red;      */
}
.about-container h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 30px;
    text-align: center;
}
.about-container p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
.about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-container .info-card{
    font-size: 20px;
    /* line-height: 30px; */
    color: #474747;
}
#skills{
    margin-top: 130px;
}
#skills .skills-contanir{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-contanir .section-heading h2{
    font-size: 35px;
    font-size: 700;
    color: #181818;
    padding-bottom: 30px;
    text-align: center;
}
.skills-contanir .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 50px;
    text-align: center;
}
.skills-contanir .skills-box{
    display: flex;
    gap: 24px;
}
.skills-contanir .skills-box .skills-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000040
}

.skills-contanir .skills-box .skills-card h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #181818;
}
.skills-contanir .skills-box .skills-card img{
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
}
.skills-contanir .skills-box .skills-card p{
    line-height: 28px;
    color: #757575;
}
.resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    gap: 71px;
    margin: 0 auto;
    padding-top: 113px;
}
#resume{
    padding-top: 130px;
}
#resume .section-heading h1{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
#resume .resume-container .resume-card{
    max-width: 500px;
}
#resume .resume-container .reasume-head h2{
    font-size: 30px;
    font-weight: 700;
    color:#474747;
}
#resume .resume-container .resume-card h3{
    font-size: 25px;
    font-weight: 700;
    color:#474747;
    margin-bottom: 10px;
    margin-top: 30px;
}
#resume .resume-container .resume-card h4{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
#resume .resume-container .resume-card p{
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
footer{
    margin-top: 113px;
    background-color: #FFF8F3;
    padding-bottom: 130px;
}
.footer-container{
    display: flex;
    gap: 117px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 130px;
}
footer .footer-content{
    max-width: 562px;
}
.footer-container .footer-content h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 20px;
}
.footer-container .footer-content p{
    line-height: 28px;
    color: #474747;
    padding-bottom: 30px;
}
.footer-container .footer-content .icon{
    max-width: 120px;
    height: 24px;
}
.footer-container .footer-form h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 28px;
}
.footer-container .footer-form input[type="text"],
.footer-container .footer-form input[type="email"]{
    width: 461px;
    height: 64px;
    margin-bottom: 24px;
    border: 5px;
}
::placeholder{
    color: #757575;
}
button-submit{
    margin-bottom: 130px;
}
.footer-container .footer-form textarea{
    width: 461px;
    margin-bottom: 24px;
    border: 5px;
}
@media screen and (max-width: 576px){
    nav{
        flex-direction: column; 
        width: 100%;
    }
    .logo{
        text-align: center;
    }
    nav .menu{
        display: flex;
        justify-content: center;
        margin-top: 20px;   
    }
    #banar{
        flex-direction: column;
        margin: 50px auto;
        text-align: center;
    }
    #banar .banar-content h2{
        font-size: 35px;
    }
    #banar .banar-content h1{
        font-size: 60px;
    }
    .btn{
        padding: 12px 20px;
        margin: 0 auto;
    }
    #about{
        margin-top: 40px;
    }
    #about .about-container{
        padding: 40px;
        width: 100%;
    }
    .about-container .about-info{
        flex-direction: column;
        gap: 50px;
    }
    .about-container P{
        padding-bottom: 10px;
    }
    #skills .skills-contanir{
        width: 100%;
        padding: 30px 40px;
    }
    .skills-contanir .skills-box{
        flex-direction: column;
    }
    .skills-contanir .skills-box .skills-card{
        margin: 0 auto;
    }
    #resume{
        text-align: center;
        
    }
    .resume-container{
        flex-direction: column;
        width: 100%;
    }
    #resume .resume-container .resume-card{
        margin: 0 auto;
    }
    .footer-container{
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
    }
    .icon{
        margin: 0 auto;
    }
}
