
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
header{
    padding-top: 51px;
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between; 
    width: 71%;
    max-width: 1240px;
    margin: 0 auto;
    
}
.color-orange{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}