
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.section-heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}
header{
    padding-top: 51px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between; 
    width: 71%;
    max-width: 1240px;
    margin: 0 auto;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banar{
    display: flex;
    justify-content: space-between;
    margin: 46px 38px 0 230px;
    align-items: center;
    width: 71%;
    max-width: 1332px;
}
#banar .banar-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
#banar .banar-content{
    max-width: 585px;
}
#banar .banar-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banar .banar-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banar .banar-content .button{
    display: flex;
    gap: 30px;
}
.banar-content .btn-background{
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
#banar .banar-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
    
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 157px;
    /* border: 1px solid red;      */
}
.about-container h2{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 30px;
    text-align: center;
}
.about-container p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 30px;
}
.about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-container .info-card{
    font-size: 20px;
    /* line-height: 30px; */
    color: #474747;
}
#skills{
    padding-top: 130px;
}
#skills .skills-contanir{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills-contanir .section-heading h2{
    font-size: 35px;
    font-size: 700;
    color: #181818;
    padding-bottom: 30px;
    text-align: center;
}
.skills-contanir .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    padding-bottom: 50px;
    text-align: center;
}
.skills-contanir .skills-box{
    display: flex;
    gap: 24px;
}
.skills-contanir .skills-box .skills-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000060
}

.skills-contanir .skills-box .skills-card h4{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #181818;
}
.skills-contanir .skills-box .skills-card img{
    margin-bottom: 30px;
    width: 44px;
    height: 44px;
}
.skills-contanir .skills-box .skills-card p{
    line-height: 28px;
    color: #757575;
}