
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
header{
    padding-top: 51px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between; 
    width: 71%;
    max-width: 1240px;
    margin: 0 auto;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banar{
    display: flex;
    justify-content: space-between;
    margin: 46px 38px 0 230px;
    align-items: center;
}
#banar .banar-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
#banar .banar-content{
    max-width: 585px;
}
#banar .banar-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
#banar .banar-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banar .banar-content .button{
    display: flex;
    gap: 30px;
}
.banar-content .btn-background{
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
}
#banar .banar-image img{
    max-width: 585px;
    vertical-align: middle;
}